/* Top Nav Menu*/
*{
	outline: none !important;
}
.main-content{
	padding-top: 50px !important;
}
.top-bar.solid-bg{
	background: #f5f5f5 !important;
}
#top-bar span.callUs, #top-bar span.callUs a, #top-bar .top-social i, button.conBTN.btn.btn-default.dropdown-toggle{
	color: #004C7C;
	font-size: 16px;
	padding-top: 11px;
}
span.caret.caret252{
	border-top-color: #004C7C !important;
	border: none;
	/* float: right; */
}
span.caret.caret252::after{
	font-family: FontAwesome;
	content: "\f107";
	position: absolute;
	bottom: 3px;
	font-size: 18px;
}
.top-social{
	text-align: right;
}
#top-bar .top-social a{
	margin-right: 20px !important;
	font-size: 16px;
}
.sprite{
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}
#top-bar #country_list_btn > span{
	vertical-align: middle;
}
/* header */
.header{
	border-bottom: 5px solid #FFD400;
	box-shadow: none;
}
.site-navigation.navdown{
	display: none;
}
/* Homepage */
#home_banner{
	display: flex;
	background: #f5f5f5 !important;
}
#home_banner > .vc_col-sm-4{
	background: white;
}
#home_banner > .vc_col-sm-4 > .vc_column-inner{
	padding: 0;

}
#home_banner > .vc_col-sm-4 > .vc_column-inner h2{
	font-size: 20px;
	margin-top: 0;
	padding: 25px 0;
	font-family: Arial !important;
	font-weight: 800 !important;
	background: #004c7c !important;
}
#home_banner > .vc_col-sm-4 > .vc_column-inner .wpb_text_column{
	padding: 30px 30px 0;
}
#home_banner > .vc_col-sm-4 > .vc_column-inner .wpb_text_column a{
	display: block;
}
#home_banner > .vc_col-sm-4 > .vc_column-inner .vc_btn3-container{
	padding-left: 30px;
}
#home_banner > .vc_col-sm-4 > .vc_column-inner .wpb_text_column a i.fas{
	margin-right: 5px;
}
#home_banner > .vc_col-sm-4 > .vc_column-inner .wpb_text_column a i.fa-file-pdf{
	margin-right: 8px;
}

/* uber menu */
#header .logo-area > div,
#header .site-nav-inner nav {
	position: inherit !important;
}
#header nav .ubermenu-submenu{
	text-align: center;
}
.ubermenu.ubermenu-disable-submenu-scroll .ubermenu-item>.ubermenu-submenu.ubermenu-submenu-type-mega{
	/* padding: 15px 0px 10px; */
    border-top: 5px solid #FFD400;
}
#header .ubermenu-nav{
	text-align: right;
}
#header .ubermenu-nav > li > a{
	font-weight: bold;
	font-size: 16px;
}
#header ul.top-info.unstyled{
	margin-top: 3%;
}
#header .ubermenu .ubermenu-item.ubermenu-item-level-0{
	margin-top: 5px;
}
.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target{
	margin-bottom: 26px;
}
.ubermenu-sub-indicators .ubermenu-tabs.ubermenu-tab-layout-left>.ubermenu-tabs-group>.ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator{
	display: none;
}
.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group>.ubermenu-tab>.ubermenu-tab-content-panel{
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group{
	border-width: 0;
}
.menu-quote{
	text-align: center;
}
.menu-quote .menu-icon{
	width: 100%;
    height: 30px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.menu-quote h3{
    color: black !important;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 25px;
}
.menu-quote.motor .menu-icon{
	background-image: url("../img/menu-motor.svg");
}
.menu-quote.home .menu-icon{
	background-image: url("../img/menu-home.svg");
}
.menu-quote.marine .menu-icon{
	background-image: url("../img/menu-marine.svg");
}
.menu-quote.travel .menu-icon{
	background-image: url("../img/menu-travel.svg");
}
.menu-quote.yacht .menu-icon{
	background-image: url("../img/menu-yacht.svg");
}
.menu-quote.business .menu-icon{
	background-image: url("../img/menu-business.svg");
}
.menu-quote a{
	background: #FFD400;
    font-weight: bold;
    color: black;
    padding: 8px 15px;
    border-radius: 7px;
    font-size: 15px;
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target{
	padding-left: 35px;
	font-weight: normal;
}
a.ubermenu-target.parent{
	font-weight: bold !important;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: left;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
a.ubermenu-target.parent.motor{
	background-image: url("../img/menu1-motor.png");
}
a.ubermenu-target.parent.home{
	background-image: url("../img/menu1-home.png");
}
a.ubermenu-target.parent.marine{
	background-image: url("../img/menu1-marine.png");
}
a.ubermenu-target.parent.other{
	background-image: url("../img/menu1-other.png");
}
a.ubermenu-target.parent.yacht{
	background-image: url("../img/menu1-yacht.png");
}
a.ubermenu-target.parent.travel{
	background-image: url("../img/menu1-travel.png");
}
a.ubermenu-target.parent.cover{
	background-image: url("../img/menu1-cover.png");
}

a.ubermenu-target.blog{
	background-image: url("../img/menu-blog.png");
}
a.ubermenu-target.calculator{
	background-image: url("../img/menu-calculator.png");
}
a.ubermenu-target.cargo{
	background-image: url("../img/menu-cargo.png");
}
a.ubermenu-target.corp{
	background-image: url("../img/menu-corp.png");
}
a.ubermenu-target.download{
	background-image: url("../img/menu-download.png");
}
a.ubermenu-target.faq{
	background-image: url("../img/menu-faq.png");
}
a.ubermenu-target.forms{
	background-image: url("../img/menu-forms.png");
}
a.ubermenu-target.hurricane{
	background-image: url("../img/menu-hurricane.png");
}
a.ubermenu-target.iform{
	background-image: url("../img/menu-iform.png");
}
a.ubermenu-target.news{
	background-image: url("../img/menu-news.png");
}
a.ubermenu-target.social{
	background-image: url("../img/menu-social.png");
}
a.ubermenu-target.terms{
	background-image: url("../img/menu-terms.png");
}
a.ubermenu-target.vault{
	background-image: url("../img/menu-vault.png");
}

.ubermenu .ubermenu-tabs-group .ubermenu-item.ubermenu-active > .ubermenu-target span{
	border-bottom: 3px solid #FFD400;
	font-weight: bold;
}
.ubermenu-submenu .ubermenu-tabs-group > li > .ubermenu-target{
	font-size: 18px;
	text-transform: uppercase;
}
#menu-item-5404, #menu-item-5405{
	padding: 10px 0;
}
.menubar.site-nav-inner{
	display: block !important;
}
.ubermenu .ubermenu-submenu .ubermenu-column.ubermenu-tabs-group{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 0px 20px -15px #bdb5b563;
}
.ubermenu .ubermenu-item-type-column>.ubermenu-submenu-type-stack{
	padding-top: 0;
}
.ubermenu .ubermenu-autocolumn, .ubermenu .ubermenu-submenu-type-stack{
	padding-top: 0;
	padding-bottom: 0;
}
.ubermenu .ubermenu-item-type-column>.ubermenu-submenu-type-stack>.ubermenu-item-normal:first-child{
	margin-top: 0;
}

#menu-item-5490 > ul li .ubermenu-target{
	margin-top: 10px;
    margin-bottom: 10px;
}
.ubermenu ul.ubermenu-row-id-5411{
	padding: 20px 0 15px;
	display: inline-block;
}
ul.ubermenu-row-id-5411 > li:not(:first-child){
	border-left: 1px solid #CBCBCB;
}
.ubermenu ul.ubermenu-row-id-5411 .ubermenu-custom-content-padded{
	padding: 15px 15px
}
#header nav .ubermenu-submenu.ubermenu-submenu-id-5401, 
#header nav .ubermenu-submenu.ubermenu-submenu-id-5432,
#header nav .ubermenu-submenu.ubermenu-submenu-id-5424{
/* 	background-image: url("../img/menu-bg.png"); */
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* Header Responsive */
@media (max-width: 1200px)
{
	#header .ubermenu-nav > li > a{
		padding-left: 10px;
		font-size: 15px;
	}
}
@media (max-width: 991px){
	.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target{
		margin-bottom: 0;
	}
	#header .site-nav-inner nav {
		padding: 0 15px;
	}
	#header nav .ubermenu-submenu{
		background: white;
	}
	.menu-quote h3{
		font-size: 15px !important;
	}
	.ubermenu ul.ubermenu-row-id-5411{
		min-width: 80%;
	}
	.ubermenu ul.ubermenu-row-id-5411 .ubermenu-custom-content-padded{
		padding: 15px 10px
	}
	ul.ubermenu-row-id-5411 > li:not(:first-child){
		border-width: 0;
	}
	.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group,
	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-tab>.ubermenu-target,
	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-tabs>.ubermenu-tabs-group>.ubermenu-tab>.ubermenu-tab-content-panel{
		border-width: 0;
	}
	.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group>.ubermenu-tab>.ubermenu-tab-content-panel{
		padding-left: 30px !important;
		padding-top: 10px !important;
	    padding-bottom: 30px !important;
	}
}

/* Product Page style */
.breadcrumb_container{
	position: inherit;
	background: #004c7c;
}
.breadcrumb_container span a, .breadcrumb_container .breadcrumb_last{
	color: white;
	display: inline-block;
	padding: 10px 0;
	margin-right: 15px;
	font-weight: normal;
}
.breadcrumb_container span a::after{
	font-family: FontAwesome;
	content: "\f054";
	position: absolute;
	bottom: 9px;
	font-size: 13px;
	margin-left: 5px;
}
.breadcrumb_container span a:hover{
	/* font-weight: bold; */
	text-decoration: underline;
}
.form_link_widget{
	background: #F8F8F8;
	padding: 0;
}
.form_link_widget h2{
	font-size: 18px;
    margin-top: 0;
    padding: 25px 0;
    font-family: Arial !important;
    font-weight: 800 !important;
    color: #ffffff;
    text-align: center;
    background: #004c7c;
    font-style: normal;
}
.form_link_widget a{
	display: block;
	font-size: 16px;
}
.form_link_widget .block_container{
	padding: 15px 30px 30px;
}
.slant252{
	font: normal normal normal 20px Open Sans;
    line-height: 35px !important;
}
.slant252_small{
	font: normal normal normal 18px Open Sans;
    line-height: 25px !important;
}
p.italic{
	font-style: italic!important;
}
.wpb_text_column .page-description{
    font-size: 30px !important;
    color: #FF7B00!important;
    text-align: center;
    width: 80%;
    margin: 40px auto 50px;
}
.button_container{
	background: #004c7c;
	border-radius: 5px;
	text-align: center;
}
.button_container a{
	color: white;
    font-size: 20px;
    padding: 30px 0;
    display: inline-block;
    width: 100%;
    font-weight: normal;
}
.tab_wrapper ul.option_list{
	padding: 0 0 0 20px;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.tab_wrapper ul.option_list li{
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Open Sans";
    display: flex;
}
.tab_wrapper ul.option_list li i{
	color: #00AEE7;
	font-size: 20px;
	margin-right: 5px;
	padding-top: 2px;
}
.tab_wrapper ul.option_list.two_columns li{
	width: 48%;
	margin-right: 2%;
	float: left;
	display: flex;
}
.tab_wrapper ul.button_bar{
	padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}
.tab_wrapper .tab_content_wrapper.spacer{
	padding-bottom: 200px!important;
}
.tab_wrapper ul.button_bar li{
	text-align: center;
	display: table-cell;
	background: transparent linear-gradient(180deg, #FF7B00 0%, #FF9C40 100%) 0% 0% no-repeat padding-box;
}
.tab_wrapper ul.button_bar li a{
	color: white;
    width: 100%;
    padding: 15px 0;
    display: inline-block;
    font-size: 18px;
}
.tab_content_wrapper{
	background: #F8F8F8;
	padding: 40px 40px 35px;
}
.tab_wrapper h2.tab_label{
	color: #004C7C;
	font-size: 30px;
	padding-top: 10px;
}
.tab_wrapper h3.sub_label{
	font-size: 20px;
	line-height: 36px;
	color: #004C7C !important;
	font-weight: bold;
}
.tab_wrapper > .row{
	display: flex;
	margin-top: 40px;
}
.tab_wrapper > .row .form_link_widget{
	position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    width: calc(100% - 30px);
}

#banner-area .full-width{
	width: 100%;
	display: flex;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#banner-area .container{
	margin-left: 0;
	max-width: 100%;
}
#banner-area .left_div, 
#banner-area .right_div{
    width: calc( 50% - 585px );
}
#banner-area .left_div{
	background: white;
}
#banner-area .banner_card{
	background: white;
    color: black;
    width: 600px;
    padding-right: 20px;
    padding-left: 15px;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 30px;
}
#banner-area .banner_card label{
	color: #004C7C;
    text-transform: uppercase;
    font: normal normal normal 15px/58px Open Sans;
}
#banner-area .banner_card h3{
	font-size: 35px !important;
    font-family: Open Sans;
    font-weight: 800;
    color: #004C7C!important;
    text-decoration: underline;
    text-decoration-color: #FF7B00;
    text-underline-offset: 9px;
    margin-top: 0;
}
#banner-area .banner_card p{
	font-size: 16px;
    font-family: Open Sans;
    color: #004C7C;
    line-height: 24px !important;
    margin-top: 20px;
}
/* contents page responsive */
@media (max-width: 991px){
	.tab_wrapper > .row{
		display: inherit !important;
	}
	.tab_wrapper > .row .form_link_widget{
		position: inherit !important;
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
	}
	.tab_wrapper h2.tab_label{
		text-align: center;
	}
}

/* Quote Page */
.page.page-id-52 .banner-area{
	display: none;
}
.page.page-id-52 form input[type=text], 
.page.page-id-52 form input[type=tel],
.page.page-id-52 form input[type=email],
.page.page-id-52 form input[type=number],
.page.page-id-52 form input[type=date],
.page.page-id-52 form select,
.page.page-id-52 form textarea, 
{
	background: transparent linear-gradient(180deg, #EDEDED 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #E6E6E6 !important;
    border-radius: 8px;
    outline: none !important;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels{
	border:none !important;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels .quote_fieldset{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.29);
	border-radius: 15px;
	padding: 40px 50px;
	margin-bottom: 40px;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels .fieldset_label{
	font-size: 28px;
    line-height: 30px;
    font-family: "Open Sans";
    font-weight: bold;
	letter-spacing: 0px;
	color: #004C7C;
    margin: 30px auto;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels .form-group{
	font-size: 20px;
    line-height: 45px;
    font-family: "Open Sans";
    color: #8D8D8D;
    margin-bottom: 25px;
    text-indent: 5px;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels .footer_btn{
	text-align: center;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels .footer_btn .wpcf7-form-control.wpcf7-submit{
	float: none;
	text-transform: capitalize;
	padding: 5px 40px;
	background: transparent linear-gradient(180deg, #FF9400 0%, #FF7F00 100%) 0% 0% no-repeat padding-box !important;
	font-size: 20px;
	height: auto;
}
.page.page-id-52 .vc_tta-tabs .vc_tta-panels .footer_btn .ajax-loader{
/* 	display: none; */
    position: absolute;
    bottom: 14px;
}
.page.page-id-52 form span.wpcf7-form-control.wpcf7-radio{
	display:flex;
}
.page.page-id-52 form span.wpcf7-form-control.wpcf7-radio span.wpcf7-list-item{
	width: 10%;
}
.page.page-id-52 form span.wpcf7-form-control.wpcf7-radio span.wpcf7-list-item .wpcf7-list-item-label{
	font-size: 18px;
	color: #8D8D8D;
}
.page.page-id-52 form span.wpcf7-form-control.wpcf7-radio span.wpcf7-list-item.first{
	text-align: right;
	margin-right: 40px;
}
.page.page-id-52 form span.wpcf7-form-control.wpcf7-radio span.wpcf7-list-item.last{
	margin-left: 40px;
	text-align: left;
}
.page.page-id-52 form input[type='radio']:after {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	top: -4px;
	left: -4px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.page.page-id-52 form input[type='radio']:checked:after {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	top: -4px;
	left: -4px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.page.page-id-52 form span.wpcf7-not-valid-tip{
	color:red !important;
	background: white !important;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab{
	width: 15%;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab i.vc_tta-icon.fa,
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab span.vc_tta-title-text
{
	color: #ADADAD;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a:hover{
	background-color: transparent;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab.vc_active i.vc_tta-icon.fa,
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab.vc_active span.vc_tta-title-text,
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a:hover i.vc_tta-icon.fa,
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a:hover span.vc_tta-title-text{
	color: #004C7C;
}

/* E-Service page */
.entry-footer-banner img{
	width: 100% !important;
}
@media (min-width: 991px){
	.e-service-row{
		display: flex;
	}
}
.e-service-row p{
	color: #004C7C !important;
	font-family: "Open Sans";
	letter-spacing: 0px;
	font-size: 22px;
    line-height: 35px !important;	
}
.e-service-row h3.page-description{
	font-weight: bold;
    font-size: 35px !important;
    padding-top: 70px;
}
.e-service-row h3{
	font-size: 30px !important;
    line-height: 50px;
    color: #004C7C !important;
    font-weight: bold;
    margin-bottom: 20px;
}
.e-service-row ul.option_list{
	padding:0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.e-service-row ul.option_list li{
    line-height: 24px;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: "Open Sans";
    display: flex;
    color: #004C7C;
}
.e-service-row ul.option_list li i{
	color: #00AEE7;
	font-size: 20px;
	margin-right: 5px;
	padding-top: 2px;
}
.e-service-row a.btn{
	background: transparent linear-gradient(180deg, #FF9400 0%, #FF7F00 100%) 0% 0% no-repeat padding-box;
	border-radius: 40px;
	color: white;
	font-size: 16px;
	padding: 15px 30px;
    margin-top: 20px;
}
.blue{
	color: #004c7c;
}
.wpcf7-container .wpcf7 form input[type=text], 
.wpcf7-container .wpcf7 form input[type=tel],
.wpcf7-container .wpcf7 form input[type=email],
.wpcf7-container .wpcf7 form input[type=number],
.wpcf7-container .wpcf7 form input[type=date],
.wpcf7-container .wpcf7 form select,
.wpcf7-container .wpcf7 form textarea{
	background: transparent linear-gradient(180deg, #EDEDED 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #E6E6E6 !important;
    border-radius: 8px;
    outline: none !important;
}
.wpcf7-container .wpcf7 .quote_fieldset{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.29);
	border-radius: 15px;
	padding: 40px 50px;
	margin-bottom: 40px;
}
.wpcf7-container .wpcf7 .fieldset_label{
	font-size: 28px;
    line-height: 30px;
    font-family: "Open Sans";
    font-weight: bold;
	letter-spacing: 0px;
	color: #004C7C;
    margin: 30px auto;
}
.wpcf7-container .wpcf7 .form-group{
	font-size: 20px;
    line-height: 45px;
    font-family: "Open Sans";
    color: #8D8D8D;
    margin-bottom: 25px;
    text-indent: 5px;
}
.wpcf7-container .wpcf7 .footer_btn{
	text-align: center;
	position: relative;
}
.wpcf7-container .wpcf7 .footer_btn .wpcf7-form-control.wpcf7-submit{
	float: none;
	text-transform: capitalize;
	padding: 5px 40px;
	background: transparent linear-gradient(180deg, #FF9400 0%, #FF7F00 100%) 0% 0% no-repeat padding-box !important;
	font-size: 20px;
	height: auto;
}
.wpcf7-container .wpcf7 .ajax-loader{
/* 	display: none; */
    position: absolute;
    bottom: 13px;
}
#cover-table{
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: bold;
	color: #757d86;
}
#cover-table tr{
	width: 100%;
}
#cover-table tr td:nth-child(1){
	width: 40%;
	padding-left: 0;
}
#cover-table tr td:nth-child(2){
	background: #ecf0f4;
	width: 30%;
	padding-left: 15px;
	border-right: 10px solid white;
}
#cover-table tr td:nth-child(3){
	background: #dce4ef;
	width: 30%;
	padding-left: 15px;
	border-left: 10px solid white;
}
#cover-table tr.cover-first{
	color: #2d3e50;
	font-size: 18px;
    font-weight: 800;
    text-align: center;
}
#cover-table tr.cover-second{
	color: #1b81c4;
	font-size: 45px;
    text-align: center;
}
#cover-table tr.cover-first td,
#cover-table tr.cover-second td{
	background: transparent;
}
#cover-table tr.cover-second td{
	padding-bottom: 30px;
    padding-top: 10px;
}
#cover-table tr.category td:first-child{
	color: #1b81c4;
	text-transform: uppercase;
	padding-bottom: 0;
    padding-top: 10px;
    letter-spacing: -0.5px;
}
#cover-table tr.category td:first-child i{
	margin-right: 10px;
}

#eservice-claim .e-service-row{
	display: inherit;
}
#eservice-claim .vc_tta-tab{
	width: 25%;
	margin: 0;
}
#eservice-claim .vc_tta-tab a{
	color: #9f9d9e;
	background: #efefef;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	border-radius: 0;
    border: none;
    border-bottom: 3px solid #dad3d3;
}
#eservice-claim .vc_tta-tab a span{
	font-weight: 400!important;
}
#eservice-claim .vc_tta-tab.vc_active a{
	background: #eaeaea;
	color: #004C7C;
	border-bottom: 3px solid #ff9530;
}
#eservice-claim .vc_tta-tab:last-child a{
	background: #ff9500;
	color: white;
	border-bottom: 3px solid #ff9530;
}
#eservice-claim .vc_tta-panel-body{
	background: white;
	padding: 30px 10px 10px 0;
}
#eservice-claim ul.option_list{
	padding-left: 20px;
	margin-top: 40px;
}
#eservice-claim ul.option_list li{
	margin-bottom: 30px;
}
#eservice-claim ul.option_list li i{
	font-size: 30px;
	margin-right: 10px;
}

/* handle multi */
.ubermenu a.ubermenu-target.country{
	display: none;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a{
	width: 100%;
    padding-top: 50px;
    fill: #ebebeb;
    height: 30px;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a i{
	color: transparent !important;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a[href="#motor"]{
    background-image: url("../img/menu-motor.svg") !important;
    background-size: 35% ;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a[href="#home"]{
    background-image: url("../img/menu-home.svg") !important;
    background-size: 22% ;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a[href="#business"]{
    background-image: url("../img/menu-business.svg") !important;
    background-size: 23% ;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a[href="#marine"]{
    background-image: url("../img/menu-marine.svg") !important;
    background-size: 26% ;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a[href="#yacht"]{
    background-image: url("../img/menu-yacht.svg") !important;
    background-size: 24% ;
}
.page.page-id-52 ul.vc_tta-tabs-list .vc_tta-tab a[href="#other"]{
    background-image: url("../img/menu-travel.svg") !important;
    background-size: 20% ;
}
.footer-social.social-color ul li a i.fa-youtube-play{
	background-color: red;
}
#custom_html-2 .float{
	width: 60px;
	height: 60px;
	right: 20px;
	bottom: 3%;
}
#custom_html-2 .float .blueFloat252{
	height: 100%;
	border-radius: 50%;
	margin-top: 0;
}
#custom_html-2 .float .blueFloat252 i{
	padding-top: 0 !important;
	line-height: 60px;
	font-size: 30px !important;
}
.feedback_container{
	display: none;
	position: fixed;
	right: 20px;
	bottom: 12%;
	background: white;
    z-index: 9999;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 29%);
    width: 350px;
}
.feedback_container.active{
	display: block;
}
.feedback_container .feedback_header{
	background: #00AEE7;
	padding: 20px 30px;
	
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.feedback_container .feedback_header h2{
	padding: 0;
	margin: 0;
	color: white;
	font-size: 25px;
}
.feedback_container .feedback_body{
	padding: 20px 10px 0 25px;
}
.feedback_container .wpcf7-form-control.wpcf7-submit{
	float: none;
	padding: 0px 35px;
	margin-top: 0px;
}
.feedback_container .wpcf7 .form-group{
	line-height: 35px;
	margin-bottom: 20px;
}
.feedback_container .wpcf7-form input.wpcf7-form-control, .feedback_container  select.wpcf7-form-control{
	height: 45px;
}
.feedback_container .wpcf7-form-control.wpcf7-submit{
	text-transform: capitalize;
}
#responsive-form{
	max-height: 550px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 15px;
}
.feedback_container .wpcf7 .ajax-loader{
	bottom: 29px;
}
.vc_custom_1556032569526 .wpb_content_element{
	margin-bottom: 0;
}
.entry-meta span.category a{
	/* display: none; */
}
.post-single .entry-content p{
	line-height: 30px !important;
    font-size: 18px;
}
@media (max-width: 767px){
	#home_banner{
		display: block;
		padding: 15px 0;
	}
}
@media only screen and (max-width: 991px){
	#custom_html-2 .float{
		margin-right: 0;
		text-align: center !important;
	}
	#custom_html-2 .feedback_container{
		right: auto;
	}
	#custom_html-2 .feedback_container .wpcf7 .form-group{
		line-height: 25px;
    	margin-bottom: 10px;
	}
}