

.about-message ul li a:hover,.widget-categories ul.category-list  li a:hover,.footer ul li a:hover,.portfolio-static-desc a:hover,.post-title a:hover,.landing-tab .tab-pane i.big,.landing-tab .nav-tabs>li>a:hover,.landing-tab .nav-tabs>li.active>a i,.features-content .features-icon,.landing-header.header-bgnone ul.navbar-nav > li:hover > a,.landing-header.header-bgnone ul.navbar-nav > li.active > a,.widget-tab h4.entry-title a:hover,.comments-list .comment-reply:hover,.comments-counter a:hover,.author-url span a:hover,.post-meta a:hover,.footer-widget .latest-post-content h4 a:hover,.footer-about-us h4,.footer2 .copyright-info a,.copyright-info a:hover,.testimonial-slide .testimonial-text:after,.testimonial-slide .testimonial-text:before,.feature-center-icon,.feature-icon,.dropdown-menu > ul > li>a:hover,.dropdown-menu > ul > li>a:focus,.dropdown-menu > ul > li.active > a,ul.navbar-nav > li:hover > a,ul.navbar-nav > li.active > a,.header-solid ul.navbar-nav > li:hover > a, .header-solid ul.navbar-nav > li.active > a,h2.entry-title a:hover,.heading:hover .title-icon,ul.check-list li i,ul.circle li:before,a,.single-blog a,.read-more, .pingback a:hover,.nav-previous a, .nav-next a, .reply a,.comment .comment-meta a , .fn,#sidebar  a:hover, #sidebar #today, .more-link,.entry-meta i, .entry-header h1 a, .entry-title a:hover, .banner-title-content .breadcrumb span{color: #ee3b24;}

.blog-date,.call-to-action,.app-gallery.owl-theme .owl-controls .owl-page.active span,.landing_page_clients,.landing_facts,.widget-tags ul > li a:hover,.subscribe button,#back-to-top .btn.btn-primary:hover,.post-img-overlay a:hover,.testimonial-slide.owl-theme .owl-controls .owl-page.active span,.plan.featured .plan-price,.featured-tab .nav-tabs>li>a:hover,.featured-tab .nav-tabs>li.active>a,.isotope-nav ul a.active,.isotope-nav ul a:hover,.image-block-content .feature-icon,#main-slide .carousel-control i:hover,.header-bgnone,.navbar-toggle,.navbar-brand.navbar-bg,.pagination>.active>a, .pagination>.active>a:hover,.pagination>li>a:hover,.portfolio-slider .flex-direction-nav a:hover,.ts-flex-slider .flex-direction-nav a:hover,.ts-carousel-controller .left:hover,.ts-carousel-controller .right:hover,.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover,.btn.btn-primary.solid,.btn.btn-primary:hover,.blogs-date, .bg-color{background: #ee3b24;}

.main-slide .carousel-indicators li.active, .main-slide .carousel-indicators li:hover,#main-slide .carousel-indicators li.active,#main-slide .carousel-indicators li:hover,.btn-comments,.single-blog input[type=submit],.entry-content input[type=submit],.search-forms .search-submit, .widget_search .search-form input[type="submit"], .widget_search input[type="submit"], .style-switch-wrapper #preset3 {background-color: #ee3b24;}

.error-page .container,.icon-pentagon:before,.service-icon:before {border-bottom: 10px solid #ee3b24;}

.title-border{border-bottom: 2px solid #ee3b24;}

.btn.btn-primary,.btn-comments{border:2px solid #ee3b24;}

blockquote {border-left: 5px solid #ee3b24;}

.landing-tab .nav-tabs>li.active{ border-right: 5px solid #ee3b24;}

.icon-pentagon{background: none repeat scroll 0 0 #ee3b24;}

.icon-pentagon:after {border-top: 10px solid #ee3b24;}

.service-icon:after {border-top: 30px solid #ee3b24;}

.client-carousel .item a:hover,.isotope-nav ul li a,.form-control:focus{border: 1px solid #ee3b24}

.header{border-top: 5px solid #ee3b24;}

.isotope-nav ul a.active:after,.isotope-nav ul a:hover:after{border-color: #ee3b24 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.featured-tab .nav-tabs>li.active>a:after, .featured-tab .nav-tabs>li>a:hover:after{border-left-color: #ee3b24;}

.plan.featured .plan-price:after{border-top-color: #ee3b24;}

.service-icon:before {border-bottom: 30px solid #ee3b24;}



